# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Environment Configuration
.env
!.env.example

# Node / Frontend
**/node_modules/
**/dist/
**/build/
.npm
*.log

# Java / Maven / Backend
**/target/
.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war

# IDE & Editor
.idea/
.vscode/
*.swp
*.swo

# Temporary files & local tools
scratch/
tmp/
temp/
backend/uploads/6aa24ee0f5d7815d513d9a55/sops/0fdf619c-5e66-4811-bdd8-4d14e6dae467.pdf
backend/uploads/6aa24ee0f5d7815d513d9a55/sops/d388b587-8c70-4ffd-a595-ba54c2cdfb47.pdf
